body {
    background:rgba(83, 175, 228, 0.774);
    font-family:helvetica;
}
h1 {
    color: rgb(15, 56, 15);
}
h2 {
    color: rgba(54, 54, 54, 0.932);
}
p {
background: rgba(117, 117, 117, 0.589);
color: black;
padding: 8px;
}