/* Header & Footer
-----------------------------------*/
header {
padding: 1rem 0 1rem;
display: flex;
justify-content: center;
}
.header-image {
max-width: 40%;
}
/* Shared Styles
-----------------------------------*/
.image-subtitle {
  font-family: 'Roboto', cursive;
  text-align: center;
  text-shadow: 1px 1px 2px grey;
}
.blog-nav {
  font-family: 'Roboto', cursive;
  text-align: left;
  text-shadow: 1px 1px 2px grey;
}
.nav-heading {
  text-align: center;
  font-size: 2rem;
}
.list-heading {
  font-weight: bold;
}
/* Sections
-----------------------------------*/
.section {
  padding: 5rem 0 5rem;
  text-align: center;
}
.blog-heading {
  padding: 0 0 1rem;
  text-align: center;
  font-family: 'Shrikhand', cursive;
}
.blog-section {
  padding: 2rem 2rem;
  font-family: 'Shrikhand', cursive;
}
.blog-post {
  border: solid 2px black;
  border-radius: 8px;
  padding: 0  0.5rem;
}
.blog-text {
  font-family: 'Roboto', sans-serif;
}
/* .blog-navigation {
  padding: 0;
  font-family: 'Roboto', sans-serif;
} */
.blog-image {
  width: 100%;
  height: auto;
}
/* Background Images
-----------------------------------*/
.title {
  background-image: url('../images/title-image.jpg');
  background-size: cover;
  color: white;
  font-family: 'Shrikhand', cursive;
}
.blog-background {
  background-image: url('../images/blog-image.jpg');
  background-size: cover;
  color: white;
}

/* Mobile first queries
-----------------------------------*/
/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {
.title{
  padding: 10rem 0;
}
}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {
  .title{
    padding: 15rem 0;
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}